
#testimony .testimony-container {
    display: -ms-grid;
    display: grid;
    margin: 0 auto;
    gap: 2rem;
    -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    place-items: center;
    margin-top: 4rem;
}
#testimony .testimony-container .group:nth-child(1) {
    background-image: url(../img/product-7.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 240px;
    height: 320px;
    border-top-right-radius: 80px;
    border-bottom-left-radius: 80px;
}
#testimony .testimony-container .group:nth-child(2) {
    background-image: url(../img/pexels-vecislavas-popa-1643383.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 240px;
    height: 320px;
    border-top-right-radius: 80px;
    border-bottom-left-radius: 80px;
}
#testimony .testimony-container .people .sub-people {
    border: 1px solid #a8dcec;
    border-top-right-radius: 80px;
    border-bottom-left-radius: 80px;
    padding: 3rem 2rem;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#testimony .testimony-container .people .fa-star {
    font-size: 2rem;
    color: #ffc107;
}
.fa-star:before {
    content: "\f005";
}
#testimony .testimony-container .people .text {
    font-size: 0.9rem;
    padding: 0.3rem 0;
    color: black;
}


#testimony .testimony-container .people .person {
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
#testimony .testimony-container .people .person img {
    width: 30px;
    border-radius: 100px;
}
img:not(.logo) {
    display: block;
    width: 100%;
}
#testimony .testimony-container .people .person img + div {
    margin-left: 1rem;
}
#testimony .testimony-container .people .person p {
    font-size: 1.2rem;
    color: #afafaf;
    text-transform: capitalize;
    
}
#testimony .testimony-container .people .arrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 3rem;
}
#testimony .testimony-container .people .arrow .previous{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    color: #3e3f43;
    -webkit-transition: color 300ms ease;
    transition: color 300ms ease;
}
#testimony .testimony-container .people .arrow .fa {
    font-size: 2rem;
}
.fa-long-arrow-left:before {
    content: "\f177";
}
#testimony .testimony-container .people .arrow .previous .fa + p {
    margin-left: 0.5rem;
}
#testimony .testimony-container .people .arrow .next {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    color: #3e3f43;
    -webkit-transition: color 300ms ease;
    transition: color 300ms ease;
}
.fa-long-arrow-right:before {
    content: "\f178";
}